<div class='large_block' id="head-<?=$cms_section->url?>">
  <?$header_content = new CmsContent(ABOUT_PAGE)?>
  <h3><?=$header_content->title?></h3>
  <?=$header_content->content?>
  <?
  $content = new CmsContent("published");
  ?>

  <ul class='section clearfix'>
    <li class='our-team'><a href='/our-strategy#our-team-section' title='Our Team'>Our Team</a></li>
    <li class='health-safety'><a href='/our-strategy#health-and-safety-section' title='Health and Safety'>Health &amp; Safety</a></li>
    <li class='permits-documentation'><a href='/our-strategy#permits-section' title='Permits and Documentation'>Permits &amp; Documentation</a></li>
  </ul>
</div>