<div class='large_block' id="head-<?=$cms_section->url?>">
  <?$header_content = new CmsContent(ABOUT_PAGE)?>
  <h3><?=$header_content->title?></h3>
  <?=$header_content->content?>
  <?
  $content = new CmsContent("published");
  ?>

  <ul class='section clearfix'>
    <?foreach($content->filter("cms_section_id", OUR_STRATEGY_SECTION)->all() as $page):?>
    <li class='<?=$page->url?>'><a href='<?=$page->permalink?>' title='<?=$page->title?>'><?=$page->title?></a></li>
    <?endforeach?>
  </ul>
</div>