<div id="our_services" class="services clearfix">
  <h1 class='services'><a href='<?=$section->permalink?>' class='more'>more</a><a href='<?=$section->permalink?>' title='Our Services'>Our Services</a></h1>
  <?=$items->format_content()?>
  
  <?if($services && $services->count()):?>
  <ul class="special clearfix">
    <?foreach($services as $service):?>
    <li>
			<a href="<?=$service->permalink?>"><?=str_replace(" & ", " &amp; ", strtoupper($service->title))?></a>
			
			<?
			if($service->images && $service->images->count()):?>
			<div class='image_holder'>
				<img src="<?=$service->images[0]->permalink(120)?>" alt="<?=str_replace(" & ", " &amp; ", strtoupper($service->title))?>" />
			</div>
			<?endif?>
		</li>
    <?endforeach?>
  </ul>
  <?endif?>
</div>