<div id="our_services" class="services clearfix">
  <h1 class='services'><a href='<?=$section->permalink?>' class='more'>more</a><a href='<?=$section->permalink?>' title='Our Services'>Our Services</a></h1>
  <?=$items->format_content()?>
  
  <?if($services && $services->count()):?>
  <ul class="special clearfix">
    <?foreach($services as $service):?>
    <li>
			<a href="<?=$service->permalink?>"><?=strtoupper(str_replace(" & ", " &amp; ", $service->title))?></a>
			
			<?
			$featured = false;
			if($service->images && $service->images->count()){
				foreach($service->images as $img){
					$path = PUBLIC_DIR.$img->rpath.'/'.$img->filename;
					if(is_readable($path)) list($width, $height, $type, $attr) = @getimagesize($path);
					else $width = 900;
					if($width < CAROUSEL_IMAGE_WIDTH) $featured = $img;
				}				
			}
			?>
			<?if($featured):?>
			<div class='image_holder'>
				<img src="<?=$featured->permalink(120)?>" alt="<?=strtoupper(str_replace(" & ", " &amp; ", $service->title))?>" />
			</div>
			<?endif?>
		</li>
    <?endforeach?>
  </ul>
  <?endif?>
</div>