<div id="our-strategy" class="our-strategy clearfix">
  <h2 class='/our-strategy'><a href='/our-strategy' class='more'>more</a><a href='/our-strategy' title='Our Stragey'>Our Strategy</a></h2>

	<div class='strategy holder clearfix'>

		<div class='image_holder' id="image_holder_our-team-holder">
			<a href='/our-strategy#our-team-section' title='Our Strategy - Our Team'>&nbsp;</a>
		
		</div>
		<h3><a href='/our-strategy#our-team-section' title='Our Team'>Our Team</a></h3>
		<p>We have numerous teams of installers, which enable us to be flexible...</p>
		<p class='read_more'><a href='/our-strategy#our-team-section' title='Our Team'>Find out more</a></p>
	</div>


	<div class='strategy holder clearfix'>

		<div class='image_holder' id="image_holder_h-and-s-holder">
			<a href='/our-strategy#health-and-safety-section' title='Our Strategy - Health and Safety'>&nbsp;</a>
		
		</div>
		<h3><a href='/our-strategy#health-and-safety-section' title='Health and Safety'>Health &amp; Safety</a></h3>
		<p>SignWebb has a team experienced in the installation of many different types of projects...</p>
		<p class='read_more'><a href='/our-strategy#health-and-safety-section' title='Health and Safety'>Find out more</a></p>
	</div>
	
	
	<div class='strategy holder clearfix'>

		<div class='image_holder' id="image_holder_permits-documentation">
			<a href='/our-strategy#permits-section' title='Our Strategy - Permits and Documentation'>&nbsp;</a>
		
		</div>
		<h3><a href='/our-strategy#permits-section' title='Permits and Documentation'>Permits &amp; Documentation</a></h3>
		<p>Our staff can organise the necessary permits to ensure that the signage installation...</p>
		<p class='read_more'><a href='/our-strategy#permits-section' title='Permits and Documentation'>Find out more</a></p>
	</div>

</div>