<div id="page_body" class='row clearfix'>
  <div id="section-<?=$cms_section->url?>" class='section-projects list-projects'>
    <h1><?=str_replace(" & ", " &amp; ",$cms_section->title)?></h1>
    <div class='line cleafix'>
    <?foreach($cms_content as $k=>$content):?>
    <div class='item<?if(fmod($k+1,4)==0):?> last<?endif?> clearfix'>
      <div class='project_image_holder' id="image_holder_<?=$content->primval?>">
        <a href='<?=$content->permalink?>' title='<?=str_replace(" & ", " &amp; ",$content->title)?>'>&nbsp;</a>
        <?if($content->images && $content->images->count()):?>

        <script type="text/javascript">
        $('#image_holder_<?=$content->primval?>').css('background', 'url(/show_image/<?=$content->images[0]->primval?>/350.gif) no-repeat center center');
        </script>
        <?endif?>
      </div>

      <h3><a href='<?=$content->permalink?>' title='<?=str_replace(" & ", " &amp; ",$content->title)?>'><?=str_replace(" & ", " &amp; ",$content->title)?></a></h3>
    </div>
    <?if(fmod($k+1,4)==0):?></div><div class='line clearfix'><?endif?>
    <?endforeach?>
  
    </div>
    <?=paginate_links($cms_content, 1)?>
  </div>
</div>