
<div id="page_body" class='row clearfix'>
  <h1>Site map</h1>
  <ul>
  	<?foreach($sections as $section):?>
  	<li><a href="<?=$section->permalink?>" title="<?=str_replace('"', '',$section->title)?>" rel="section"><?=$section->title?></a>
  		<?
  		$model = new CmsContent("published");
  		$pages = $model->filter(array('cms_section_id'=>$section->id))->all();
  		?>
  		<?if(count($pages)):?>
  		<ul>
  		<?foreach($pages as $page):?>
  		<li><a href="<?=$page->permalink?>" title="<?=str_replace('"', '',$page->title)?>" rel="internal page"><?=$page->title?></a></li>
  		<?endforeach?>
  		</ul>
  		<?endif?>
  	</li>
  	<?endforeach?>
	
  </ul>

</div>